:root {
    --primary-background-color: #1c1b1e;
    --secondary-background-color: #26262f;
    --tertiary-background-color: #24242a;

    --primary-text-color: #eae5f3;
    --secondary-text-color: #a9a2b6;
    --tertiary-text-color: #524b5e;

    --primary-tms-color: #772ce8;
    --secondary-tms-color: #6c24d7;
    --faded-tms-color: rgba(201, 182, 230, 0.9);
}

html, body {
    font-family: "Loto Sans", sans-serif;
    margin: 0;
    padding: 0;
}
