.large-wrapper {
    margin: 1.2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.2em;
}

.large-wrapper .wrapper {
    width: calc(100% - 2.4em);
    max-width: unset;
    margin: 0;
}

.large-wrapper .main-wrapper {
    grid-column: 2;
}

@media only screen and (max-width: 900px) {
    .large-wrapper {
        display: block;
    }
}
