<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/form.css">

    <title>Home | Live Reactions | The Mod Squad</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>About Live Reactions</h2>
                <p>
                    Live Reactions is an application that works with OBS to log streaks ("live reactions") that are
                    triggered by your Twitch chat. It was originally built in to a commissioned project for
                    <a href="https://twitch.tv/meiya" target="_blank">Meiya</a>,
                    but was recently remade into a standalone service for
                    <a href="https://twitch.tv/blondedaze" target="_blank">blondedaze</a>.
                </p>
                <h3>Supporting the Project</h3>
                <p>
                    There are several ways to support the development and sustainability of Live Reactions!
                </p>
                <ul>
                    <li>
                        <a href="https://github.com/TwitchModSquad/live-reactions" target="_blank">Contribute directly to its development. We're open sourced on GitHub!</a>
                    </li>
                    <li>
                        <a href="https://buymeacoffee.com/twijn" target="_blank">Contribute monetarily directly to the developer, Twijn.</a>
                    </li>
                    <li>
                        <a href="https://tms.to" target="_blank">Contribute to The Mod Squad's Patreon</a>
                    </li>
                </ul>
                <h3>Getting in Contact</h3>
                <p>
                    The best way to contact me is by adding me as a friend on Discord, @twijn.
                    Alternatively, you can also <a href="mailto:twijn@twijn.net?subject=<%= encodeURIComponent('Live Reactions Support') %>">email me</a>.
                </p>
            </section>
            <section>
                <h2>Setting up Live Reactions</h2>
                <p>
                    Setting up Live Reactions is easy! Click the button below to authorize your account with the application,
                    update the settings in the next page to your liking, and copy and paste the provided URL into a browser
                    choice in your broadcasting software.
                </p>
                <a class="button button-full" href="/auth/twitch">
                    Authorize with Twitch
                </a>
                <div class="alert alert-info">
                    <strong>Note:</strong>
                    This application requires a token to use the application. Failing to authorize
                    will result in an error when using the overlay.
                </div>
            </section>
        </main>
        <%- include("../partials/footer") %>
    </div>
</body>
</html>
