<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/form.css">

    <title>Home | Live Reactions | The Mod Squad</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Live Reactions</h1>
        </header>
        <main>
            <section>
                <h2>About Live Reactions</h2>
                <p>
                    Live Reactions is an application that works with OBS to log streaks ("live reactions") that are
                    triggered by your Twitch chat. It was originally built in to a commissioned project for
                    <a href="https://twitch.tv/meiya" target="_blank">Meiya</a>,
                    but was recently remade into a standalone service for
                    <a href="https://twitch.tv/blondedaze" target="_blank">blondedaze</a>.
                </p>
                <h3>Supporting the Project</h3>
                <p>
                    There are several ways to support the development and sustainability of Live Reactions!
                </p>
                <ul>
                    <li>
                        <a href="https://github.com/TwitchModSquad/live-reactions" target="_blank">Contribute directly to its development. We're open sourced on GitHub!</a>
                    </li>
                    <li>
                        <a href="https://buymeacoffee.com/twijn" target="_blank">Contribute monetarily directly to the developer, Twijn.</a>
                    </li>
                    <li>
                        <a href="https://tms.to" target="_blank">Contribute to The Mod Squad's Patreon</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Grabbing your API Token</h2>
                <p>
                    Following <a href="https://discuss.dev.twitch.com/t/giving-broadcasters-control-concurrent-join-limits-for-irc-and-eventsub/54997" target="_blank">Twitch's concurrent join limits in 2024,</a>
                    bots are severely limited on the channels they can/can't join without Moderator privileges on your channel.
                    To bypass this limit, Live Reactions requests a token from the Twitch API to listen to chat on your account
                    (and send milestone and record messages in chat). To grant Live Reactions access to this, please click the button below.
                </p>
                <p>
                    After authorizing, you will be redirected to a URL generator to generate your OBS overlay url!
                </p>
                <a class="button button-full" href="/auth/twitch">
                    Authorize with Twitch
                </a>
                <p>
                    <strong>Note: </strong> This application requires a token to use the application. Failing to authorize
                    will result in an error when using the overlay.
                </p>
            </section>
        </main>
        <%- include("../partials/footer") %>
    </div>
</body>
</html>
