<footer>
    Made by <a href="https://twijn.net" target="_blank">Twijn</a> &bullet; <a href="https://tms.to" target="_blank">The Mod Squad</a>
    <br>
    Support the development of Live Reactions and my other applications &bullet; <a href="https://buymeacoffee.com/twijn" target="_blank">🍺 Buy me a Beer</a>
</footer>
